<!--suppress ALL -->
<section id="bs-footer">
<div class="container">
<div class="row">
	<div class="col-md-10 pull-left">
        <p>&copy; Login 2014.</p>
	</div>
	<div class="col-md-2 pull-right">
	</div>
</div></div></section>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.ui.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.ui.widget.tools.js"></script>
<script src="/js/moment-with-langs.js"></script>

<script src="/blocks/b-ajaxForm/b-ajaxForm.js"></script>
<script src="/blocks/b-signin/b-signin.js"></script>
<script src="/js/jquery.roles.js"></script>
<script src="/js/feather.js"></script>
<script src="/js/init.js"></script>
<script src="/js/jquery.formance.min.js"></script>
<script src="/js/bootstrap-formhelpers.min.js"></script>