<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{block "title"}}</title>

        {{> header}}
        {{block "headscript"}}
        <link rel="stylesheet" href="/css/sign.css">
    </head>
    <body>
        <section id="header">
            <div class="container">
            <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav pull-right">
            </ul>
            </div>
            </div>
        </section>
        <div class="container">
            {{{body}}}
        </div>

        {{> footer}}
        {{{block "footerscripts"}}}
    </body>
</html>