<img src="http://Login.com/img/logo_50h.png" alt="Login Logo" title="Login Logo" style="height:50px;" />
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<br>
<p>This is to confirm that your Registration with Login is successful.</p>
<p>Please verify your email address by clicking <a href="{{host}}/activate/{{user.confirm_token}}">here</a>.</p>
<p></p>
<p>Thank you,</p>
<p>Login</p>